.header-container {
    align-self: start;
    inline-size: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.header-title {
    margin: 0 0 14px 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-primary);
}
