.header-container {
    align-self: start;
    inline-size: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.header-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--text-primary);
}
