.root {
    min-block-size: 100vh;
    min-inline-size: 22.5rem;
    max-inline-size: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
}

.header-container {
    align-self: start;
}

.header-title {
    margin: 0 0 14px 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-primary);
}
