.root {
    min-inline-size: 22.5rem;
    max-inline-size: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    inline-size: 100%;
    padding: 1.25rem 1.5rem;
}
